
.topText {
  margin-top: 200px;
  margin-bottom: 50px;
  font-size: 36px;
  font-weight: 900;
}
.image {
  width: 100%;
  height: 85%;
}

.eventCard {
  flex-shrink: 0;
  height: 350px;
  background-color: white;
  position: relative;
  cursor: pointer;
  border-radius: 20px;
  overflow: hidden;
  transition: all 0.3s ease;
}
.eventCard:hover {
  transform: translateY(-8%);
  transition: all 0.3s ease;
}
.cardInfo {
  padding: 10px;
  width: 100%;
  height: 15%;
  font-size: 22px;
  font-weight: 800;
}
.price {
  position: absolute;
  right: 9%;
  bottom: 7%;
  font-weight: 800;
  padding: 11px;
  background-color: #FFDD00;
  border-radius: 26px;
}

.eventsList {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
}


