.resetInput {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: start;
  width: 100%;
}

.resetForm {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.navLink {
  color: #BB7DFB;
  font-weight: 600;
}