.profileDiv {
  
  padding: 30px;
  border: 1px solid gray;
  border-radius: 10px;
  background-color: white;
}

.flex {
  display: flex;
  gap: 40px;
}

.topText {
  font-size: 33px;
  font-weight: 700;
  margin: 5px 0px;
}