.label {
  display: block;
}

.input {
  margin-bottom: 20px;
}

.textarea {
  margin-bottom: 20px;
  width: 100%;
  max-width: 100%;
  min-width: 100%;
}

.topText {
  font-size: 30px;
  font-weight: 900;
}